<h4 id="message" ><%= @event_message %></h4>

<table class="centered">
  <thead>
    <tr>
      <th data-field="id">Hour</th>
      <th data-field="name">Occurence</th>
    </tr>
  </thead>

  <tbody id="by_hours">
  <% 24.times do |i| %>
    <tr>
      <td><%= i %>:00</td>
      <td><%= @event_per_hour[i.to_f]%></td>
    </tr>
  <% end %>
      <tr>
        <td>Total</td>
        <td><%= @event_type.total %></td>
      </tr>
  </tbody>
</table>
